In [33]:
import pandas as pd

In [34]:
data = pd.read_json(r'C:\Users\Michiel Jacobs\Research\Master Thesis\Experimental-Reactivity-Prediction\data\CNOS.json')
data = data.transpose()

In [26]:
data.head()

,cid,jid,optimized_geometry,self_consistent_field,zero_point_energy,thermal_correction_to_energy,thermal_correction_to_enthalpy,thermal_correction_to_gibbs_free_energy,homo,lumo,natural_population_analysis,coulomb_matrix
130652087,130652087,0,"[[6, 6, 6, 6, 16, 6, 7, 7, 7, 6, 1, 1, 1, 1, 1...","[[neutraal, -795.211507962], [Energie_neutraal...",0.127017,0.136940,0.137884,0.090077,-0.22415,-0.01373,"[[-0.23022, -0.01421, -0.47001, -0.48076, 0.24...","[[36.85810519942594, 29.83438572479021, 13.490..."
129668047,129668047,1,"[[6, 6, 6, 6, 6, 6, 16, 8, 8, 6, 1, 1, 1, 1, 1...","[[neutraal, -823.780548704], [Energie_neutraal...",0.205459,0.217854,0.218799,0.165386,-0.25689,-0.01182,"[[-0.57906, -0.37233, -0.41330, -0.14949, -0.2...","[[36.85810519942594, 23.513136466152307, 13.95..."
140994819,140994819,2,"[[6, 6, 6, 6, 6, 6, 6, 6, 8, 8, 1, 1, 1, 1, 1,...","[[neutraal, -464.935484889], [Energie_neutraal...",0.232716,0.245301,0.246246,0.193153,-0.24078,0.01578,"[[-0.57823, -0.39724, 0.09904, -0.20924, -0.18...","[[36.85810519942594, 23.512329780636605, 13.93..."
21721211,21721211,3,"[[6, 6, 6, 8, 8, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1,...","[[neutraal, -463.762585110], [Energie_neutraal...",0.210067,0.222170,0.223114,0.169649,-0.23918,0.01441,"[[-0.56822, -0.46850, 0.81575, -0.59983, -0.58...","[[36.85810519942594, 23.419116452892624, 14.27..."
90704336,90704336,4,"[[6, 6, 6, 6, 6, 6, 8, 8, 6, 8, 1, 1, 1, 1, 1,...","[[neutraal, -502.065353250], [Energie_neutraal...",0.233129,0.245709,0.246653,0.195038,-0.25245,0.06906,"[[-0.57774, -0.40498, 0.12954, -0.28690, -0.59...","[[36.85810519942594, 23.512505106427113, 13.96..."

In [32]:
data.iloc[0:999,:].count()

cid                                        999
jid                                        999
optimized_geometry                         999
self_consistent_field                      999
zero_point_energy                          999
thermal_correction_to_energy               999
thermal_correction_to_enthalpy             999
thermal_correction_to_gibbs_free_energy    999
homo                                       999
lumo                                       999
natural_population_analysis                999
coulomb_matrix                             999
dtype: int64

In [35]:
dataframes = []
for i in range(11):
    startline = i*1000
    endline = ((i+1)*1000)
    dataframes.append(data.iloc[startline:endline,:])

In [38]:
dataframes[1].describe()

,cid,jid,optimized_geometry,self_consistent_field,zero_point_energy,thermal_correction_to_energy,thermal_correction_to_enthalpy,thermal_correction_to_gibbs_free_energy,homo,lumo,natural_population_analysis,coulomb_matrix
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,1000,1000,1000,1000,998,998,998,950,973,1000,1000
top,20393662,2048,"[[6, 6, 6, 6, 7, 6, 16, 6, 7, 7, 8, 1, 1, 1, 1...","[[neutraal, -871.700070451], [Energie_neutraal...",0.167355,0.172507,0.173451,0.227538,-0.22875,0.01961,"[[-0.59585, 0.09538, -0.24581, -0.03149, -0.44...","[[36.85810519942594, 23.515294166559954, 14.17..."
freq,1,1,1,1,1,2,2,2,3,2,1,1

In [39]:
import os
PATH = r'C:\Users\Michiel Jacobs\Research\Master Thesis\Experimental-Reactivity-Prediction\data'
for i, df in enumerate(dataframes):
    df.to_json(os.path.join(PATH, 'CNOS_{}.json'.format(i)), orient='index', indent=2)

In [8]:
import os
import pandas as pd

#PATH = os.path.dirname(os.path.abspath(__file__))
PATH = r'C:\Users\Michiel Jacobs\Research\Master Thesis\Experimental-Reactivity-Prediction\notebooks'
PATH = os.path.join(PATH, os.pardir, 'data')
dataframes = []
for file in os.listdir(PATH):
    if file.endswith(".json"):
        dataframes.append(pd.read_json(os.path.join(PATH, file)))

In [12]:
transp = []
for df in dataframes:
    transp.append(df.transpose())

transp[0].head()

,cid,jid,optimized_geometry,self_consistent_field,zero_point_energy,thermal_correction_to_energy,thermal_correction_to_enthalpy,thermal_correction_to_gibbs_free_energy,homo,lumo,natural_population_analysis,coulomb_matrix
130652087,130652087,0,"[[6, 6, 6, 6, 16, 6, 7, 7, 7, 6, 1, 1, 1, 1, 1...","[[neutraal, -795.211507962], [Energie_neutraal...",0.127017,0.136940,0.137884,0.090077,-0.22415,-0.01373,"[[-0.23022, -0.01421, -0.47001, -0.48076, 0.24...","[[36.8581051994, 29.8343857248, 13.4903033773,..."
129668047,129668047,1,"[[6, 6, 6, 6, 6, 6, 16, 8, 8, 6, 1, 1, 1, 1, 1...","[[neutraal, -823.780548704], [Energie_neutraal...",0.205459,0.217854,0.218799,0.165386,-0.25689,-0.01182,"[[-0.57906, -0.37233, -0.41330, -0.14949, -0.2...","[[36.8581051994, 23.5131364662, 13.9599108795,..."
140994819,140994819,2,"[[6, 6, 6, 6, 6, 6, 6, 6, 8, 8, 1, 1, 1, 1, 1,...","[[neutraal, -464.935484889], [Energie_neutraal...",0.232716,0.245301,0.246246,0.193153,-0.24078,0.01578,"[[-0.57823, -0.39724, 0.09904, -0.20924, -0.18...","[[36.8581051994, 23.5123297806, 13.9300213486,..."
21721211,21721211,3,"[[6, 6, 6, 8, 8, 6, 6, 6, 6, 6, 1, 1, 1, 1, 1,...","[[neutraal, -463.762585110], [Energie_neutraal...",0.210067,0.222170,0.223114,0.169649,-0.23918,0.01441,"[[-0.56822, -0.46850, 0.81575, -0.59983, -0.58...","[[36.8581051994, 23.4191164529, 14.2747354076,..."
90704336,90704336,4,"[[6, 6, 6, 6, 6, 6, 8, 8, 6, 8, 1, 1, 1, 1, 1,...","[[neutraal, -502.065353250], [Energie_neutraal...",0.233129,0.245709,0.246653,0.195038,-0.25245,0.06906,"[[-0.57774, -0.40498, 0.12954, -0.28690, -0.59...","[[36.8581051994, 23.5125051064, 13.969815003, ..."

In [18]:
dataframes[0].describe()

,130652087,129668047,140994819,21721211,90704336,66045681,129972225,20678039,140544778,89041207,...,147387252,105434230,25093108,87554375,117623527,60798696,150207916,69777095,105429840,67764881
count,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
unique,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
top,0,0.217854,"[[36.8581051994, 23.5123297806, 13.9300213486,...",0.223114,0.233129,0.28415,-0.04133,"[[-0.57713, -0.27127, -0.57354, 0.64805, -0.63...",140544778,"[[36.8581051994, 23.8034304274, 14.2517329287,...",...,-0.25489,-0.02655,"[[36.8581051994, 25.7597071971, 15.0572416522,...","[[-0.64585, 0.24713, -0.18346, -0.57581, -0.43...",0.183644,-0.24323,"[[6, 6, 6, 6, 6, 16, 6, 8, 7, 7, 7, 1, 1, 1, 1...","[[36.8581051994, 29.064348271, 14.338422402399...","[[36.8581051994, 23.4055489219, 14.3223716248,...","[[-0.58731, -0.17056, -0.52020, -0.19064, 0.11..."
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [13]:
data = pd.concat(transp)

In [16]:
data.describe()

,cid,jid,optimized_geometry,self_consistent_field,zero_point_energy,thermal_correction_to_energy,thermal_correction_to_enthalpy,thermal_correction_to_gibbs_free_energy,homo,lumo,natural_population_analysis,coulomb_matrix
count,10685,10685,10685,10685,10685,10685,10685,10685,10685,10685,10685,10685
unique,10685,10685,10685,10685,10501,10504,10487,10486,5948,7675,10685,10685
top,147145722,0,"[[6, 7, 6, 6, 6, 8, 6, 6, 8, 6, 6, 6, 7, 6, 1,...","[[neutraal, -653.020533830], [Energie_neutraal...",0.249167,0.218039,0.219788,0.209998,-0.2166,-0.00812,"[[-0.35224, -0.57247, -0.02819, -0.41619, -0.0...","[[36.8581051994, 28.7555620234, 14.6630834634,..."
freq,1,1,1,1,3,2,2,3,7,6,1,1